
#ticket-add-field{
    margin-top: 5px;
    transition: all 0.4s ease;
    text-align: center;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 0 0 3px rgba(0,0,0,0.32);
    width: 40%;
    cursor: pointer;
    height: 36px;
    background: #f25f22;
    color: white;
}

#ticket-add-field::placeholder{
    color: inherit;
}

#ticket-add-field:focus,#ticket-add-field:hover{
    background: white;
    color: #7f7f7f;
}

#ticket-add-field:focus{
    width: 60%;
}

.ticket-del-btn{
    display: inline-block;
    position: absolute;
    box-shadow: 0 0 2px rgba(0,0,0,0.42);
    color: #7f7f7f;
    transition: all 0.4s ease;
    cursor: pointer;
    border-radius: 50%;
    background-position: center;
}

.ticket-del-btn:hover{
    background: #ff3122 radial-gradient(circle, transparent 1%, #ff3122 1%) center/15000%;
    color: white;
}

.ticket-del-btn:active{
   background-color: white;
   background-size: 100%;
   transition: background 0s;
}

.ticket-del-btn.gen{
    right: 15px;
    margin-top: -47px;
    font-size: 16px;
    padding: 4px 9px;
}

.ticket-del-btn.gen.tick{
    margin-top: -1px;
}

.gen-counter{
    color: #5f5f5f;
    box-shadow: 0 0 2px rgba(0,0,0,0.42);
    border-radius: 25px;
    padding: 2px 7px;
    margin-top: 1px;
    margin-left: 2px;
    display: inline-block;
    position: absolute;
    left: 15px;
    cursor: default;
}

.gen-counter.pass{
    font-size: 13px;
}