
#ticket-add-field{
    margin-top: 5px;
    transition: all 0.4s ease;
    text-align: center;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 0 0 3px rgba(0,0,0,0.32);
    width: 40%;
    cursor: pointer;
    height: 36px;
    background: linear-gradient(to left, #ff8722, #f54f52);
    color: white;
}

#ticket-add-field::placeholder{
    color: inherit;
}

#ticket-add-field:focus,#ticket-add-field:hover{
    box-shadow: 0 0 3px #f54f52;
    background: #ffffff;
    color: #7f7f7f;
}

#ticket-add-field:focus{
    box-shadow: 0 0 3px #f54f52;
    width: 60%;
}

.ticket-del-btn{
    display: inline-block;
    position: absolute;
    box-shadow: 0 0 2px #34656e;
    color: #7f7f7f;
    transition: all 0.4s ease;
    cursor: pointer;
    border-radius: 50%;
    background-position: center;
}

.ticket-del-btn:hover{
    background: #ff4f52 radial-gradient(circle, transparent 1%, #ff4f52 1%) center/15000%;
    color: white;
}

.ticket-del-btn:active{
   background-color: white;
   background-size: 100%;
   transition: background 0s;
}

.ticket-del-btn.gen{
    right: 15px;
    margin-top: -47px;
    font-size: 16px;
    padding: 4px 9px;
}

.ticket-del-btn.gen.tick{
    margin-top: -1px;
}

.gen-counter{
    color: #5f5f5f;
    box-shadow: 0 0 2px rgba(0,0,0,0.42);
    border-radius: 25px;
    padding: 2px 7px;
    margin-top: 1px;
    margin-left: 2px;
    display: inline-block;
    position: absolute;
    left: 15px;
    cursor: default;
}

.gen-counter.pass{
    font-size: 13px;
}

.bnr-btn{
    border: 1px solid #02b875;
    display: inline-block;
    position: relative;
    border-radius: 22px;
    box-shadow: 0 0 2px #34656e;
    color: #02b875;
    background-color: white;
    transition: all 0.4s;
    cursor: pointer;
    line-height: 1.5;
    padding: 14px;
    background-position: center;
}

.bnr-btn:hover{
    color: white;
    background: #02b875 radial-gradient(circle, transparent 1%, #02b875 1%) center/15000%;
}

.bnr-btn:active{
    background-color: white;
    background-size: 100%;
    transition: background 0s;
 }

 .bnr-btn.nibnr{
     height: 42px;
     padding: 8px;
 }

 .bnr-btn:focus{
     outline: none;
 }

 .input-container.wide.secret{
    box-shadow: 0 0 2px rgba(0,0,0,0.42);
     min-width: 330px;
     width: 67%;
    letter-spacing: 4px;
    font-size: 17px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3a586d;
    border: double 2px transparent;
    background-image: linear-gradient(to right, #ff9722, #f54f62);
    background-origin: border-box;
 }

 .input-container.wide.secret:hover{
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.32);
    cursor: pointer;
}

 .input-container.wide.secret div{
     transition: all 0.4s;
     background-position: center;
     background: white;
     padding: 125px;
 }

 .secret img{
    width: 31px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 3px;
    padding: 0 1px;
    border-left: 2px solid #34656e;
    border-right: 2px solid #34656e;
 }

 .input-container.wide.secret.ns{
     margin: 0 3%;
     display: inline-block;
     width: 30%;
     min-width: 155px;
     background-image: linear-gradient(to right, #02b875, #414C6B);
 }

 .input-container.wide.secret.ns div{
     padding: 6px;
     letter-spacing: 1.2px;
     font-size: 16px;
 }

 .opt-link{
     box-shadow: 0 0 2px #1E88E5;
     margin: 10px auto;
     width: fit-content;
     width: -moz-fit-content;
     border-radius: 20px;
     color: white;
     font-size: 14px;
     text-overflow: ellipsis;
     overflow: hidden;
     max-width: 85%;
     background: linear-gradient(to right, #1E88E5, #29B6F6);
     background-origin: border-box;
     padding: 3px 16px;
     letter-spacing: 1.1px;
     text-overflow: ellipsis;
     overflow: hidden;
     transition: all 0.4s;
     cursor: pointer;  
 }

 .opt-link:hover{
    background: white;
    color: #1E88E5;
 }

 .head-title.intick{
     margin-bottom: 15px;
 }

 .bnr-btn.nibnr{
     margin-top: 10px;
     margin-bottom: 5px; 
 }

 .bnr-btn.nibnr.weirdo{
     margin-top: 10px;
     margin-bottom: 18px;
 }

 .bnr-btn.nibnr.what{
    margin-top: 0;
    margin-bottom: 3px;
 }

 .empty-div{
     width: 90%;
     white-space: normal;
     color: #aaa;
     margin: 50px auto;
 }

 #verify-pg .ticket div .labels{
     font-size: 12px;
     padding: 12px;
     background: linear-gradient(to right, #ef7722, #f54f62);
 }

 /* animations for verifying and generating */

 .ticket.vrf{
    transition: all 0.4s;
    background: white radial-gradient(circle, transparent 1%, white 1%) center/15000%;
 }

 .vrf.bg-green{
    background-color: #02b875;
    background-size: 100%;
    transition: background 0s;
 }

 .vrf.bg-red{
    background-color: #ff4f52;
    background-size: 100%;
    transition: background 0s;
 }

 /* for titles */

 h1, h2, h5{
     letter-spacing: -2px;
     word-spacing: 10px;
    font-size: 35px;
    color: #555;
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
    z-index: 0;
 }

 h1::after, h2::after, h5::after{
    content: '';
    height: 5px;
    border-radius: 50px;
    background: linear-gradient(to left, #ff9822, #f54f52);
    position: absolute;
    top: 37px;
    text-align: center;
    left: -5px;
    right: 0;
    bottom: 0;
    width: calc(100% + 10px);
    z-index: -1;
 }

 h5::after, #passwords-tb-container div h1::after{
    background: linear-gradient(to right, #32a8a5, #814C7B);
 }

.cust-tt{
    border-radius: 20px;
    background-color: #555 !important;
    color: white !important;
    opacity: 1 !important;
    box-shadow: 0 0 3px rgba(0,0,0,0.22), 0 1px 2px rgba(0,0,0,0.22);
}
.cust-tt.place-top::after {
    border-top-color: #555 !important;
    border-top-style: solid !important;
    border-top-width: 6px !important;
}

/* responsive headings and titles */
 @media(max-width: 620px){
     /* 20 - 24 chars */
     h1.sss, h2.sss, h5.sss{
		font-size: 32px;
	}
 }

 @media (max-width: 576px){
    .ticket-del-btn.gen{
        margin-top: -37px;
    }
     /* 16 - 19 chars */
	h1.ss, h2.ss, h5.ss{
		font-size: 33px;
	}
 	/* 20 - 24 chars */
     h1.sss, h2.sss, h5.sss{
		font-size: 28px;
    }
    h1.sss::after, h2.sss::after, h5.sss::after{
        top: 29px;
    }
}

@media (max-width: 500px){
    .ticket-del-btn.gen{
        margin-top: -35px;
    }
    /* 12 - 15 chars */
	h1.s, h2.s, h5.s{
		font-size: 31px;
	}
	/* 16 - 19 chars */
	h1.ss, h2.ss, h5.ss{
		font-size: 24px;
	}
	/* 20 - 24 chars */
	h1.sss, h2.sss, h5.sss{
		font-size: 21px;
    }
    h1.ss::after, h2.ss::after, h5.ss::after{
        top: 24px;
    }
    h1.sss::after, h2.sss::after, h5.sss::after{
        top: 23px;
    }
}

@media (max-width: 410px){
    .ticket-del-btn.gen{
        margin-top: -27px;
    }
    h1, h2, h5{
        font-size: 27px;
    }
	/* 12 - 15 chars */
	h1.s, h2.s, h5.s{
		font-size: 20px;
	}
	/* 16 - 19 chars */
	h1.ss, h2.ss, h5.ss{
		font-size: 15px;
	}
	/* 20 - 24 chars */
	h1.sss, h2.sss, h5.sss{
		font-size: 13px;
    }
    h1::after, h2::after, h5::after{
        top: 28px;
    }
    h1.s::after, h2.s::after, h5.s::after{
        top: 22px;
        height: 4px;
    }
    h1.ss::after, h2.ss::after, h5.ss::after{
        top: 18px;
        height: 3px;
    }
    h1.sss::after, h2.sss::after, h5.sss::after{
        top: 15px;
        height: 3px;
    }
}