.container{
	background: white;
}

.container-fluid{
	padding: 0;
}

.container.fragment-container{
	box-shadow: 0 0 30px rgba(17, 17, 17, 0.04), 0 6px 12px rgba(17, 17, 17, 0.04);
	border-radius: 30px;
	padding-top: 85px;
	padding-bottom: 30px;
	margin-top: -80px;
	margin-bottom: 50px;
	overflow-x: hidden;
	text-align: center;
}

@media (min-width: 1200px){
	.container.fragment-container{
		max-width: 815px;
	}
}

@media (min-width: 992px){
	.container.fragment-container{
		max-width: 815px;
	}
}

@media (min-width: 768px){
	.container.fragment-container{
		max-width: 815px;
	}
}

@media (min-width: 576px){
	.container.fragment-container{
		max-width: 815px;
	}
}

@media (max-width: 980px){
	.pill-bar{
		max-width: 815px;
	}
}

@media (max-width: 576px){
	.container.fragment-container{
		max-width: 100%;
		border-radius: 0;
		margin-bottom: 0;
		padding-left: 0;
		padding-right: 0;
	}
}

.ticket{
	width: 95%;
	opacity: 1;
	max-height: 1000px;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
	box-shadow: 0 0 3px rgba(0,0,0,0.22), 0 1px 2px rgba(0,0,0,0.22);
	border-radius: 30px;
	margin: 20px auto;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	transition: all 0.2s ease;
	white-space: nowrap;
	scrollbar-width: none;
}

.hiding{
	max-height: 0;
	opacity: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.ticket:hover{
    box-shadow: 0 1px 15px 0 rgba(32,33,36,0.28);   
}

.generator{
	padding: 0;
}

#ticket-tab-slider,#create-tab-slider{
	overflow: auto;
	width: 200%;
	left: -100%;
}

#tickets-tb-container,#event-creater-tb-container{
	overflow: hidden;
	display: inline-block;
	width: 50%;
}

#passwords-tb-container,#password-creater-tb-container{
	position: relative;
	float: right;
	width: 50%;
}

#tickets-tb, #event-creater-tb{
	position: relative;
	padding-bottom: 5px;
}