@media(min-width:980px) {

  #sidebar-wrapper{
    width: 80px;
    overflow-x: hidden;
  }

  #sidebar-wrapper:hover{
    width: 90px;
  }

  .sidebar-nav:hover li div img{
    width: 29%;
  }

  #wrapper.toggled .sidebar-nav:hover li div img{
    width: 25%;
  }

  #sidebar-wrapper:hover .sidebar-nav li div i:before{
    font-size: 55px;
  }

  #wrapper.toggled #sidebar-wrapper:hover .sidebar-nav li div i:before{
    font-size: 48px;
  }

  .pill-bar:hover{
    border-radius: 0;
    height: 88px;
    line-height: 86px;
    box-shadow: 0 10px 30px rgba(17, 17, 17, 0.07), 0 6px 12px rgba(17, 17, 17, 0.07);
  }

  .pill-bar:hover #sidebarCollapse.active span{
    margin: 12px auto;
  }

  .pill-bar{
    border-radius: 30px;
    height: 80px;
    line-height: 80px;
  }

  .sidebar-toggle{
    top: 17px;
  }
  
  .container.fragment-container{
    padding-top: 10px;
    margin-top: 20px;
  }

  .pill-bar:hover #pillbar-settings{
    font-size: 30px;
  }

  .tabs{
    width: 50%;
  }

  #ticket-add-field{
    width: 20%;
  }
}