.pill-bar{
    z-index: 1;
    box-shadow: 0 0 2px rgba(0,0,0,0.16);
	background: white;
	height: 70px;
	position: sticky;
	top: 0;
	margin: 0 auto;
	text-align: center;
    transition:  border-radius 0.2s ease-out, box-shadow 0.3s, width 0.5s, height 0.3s, line-height 0.3s, transform 0.3s;
    max-width: 800px;
	line-height: 70px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.img-pill-bar{
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	line-height: inherit;
}

.sidebar-toggle{
	position: absolute;
	left: 15px;
	top: 15px;
	border: none;
	width: 55px;
	height: 60%;
	background: inherit;
	cursor: pointer;
}

.sidebar-toggle:focus{
	outline: 0;
}

.sidebar-logo{
	width: 70px;
	display: inline-block;
}

#pillbar-settings{
    border: none;
    background: inherit;
    height: 92%;
    font-size: 25px;
    width: 55px;
    position: absolute;
    right: 15px;
    color: #7f7f7f;
    border-radius: 100%;
    cursor: pointer;
    transition: font-size 0.5s, background 0.3s;
}

/*Ripple effect*/
#pillbar-settings:focus{
    outline: 0;
}
#pillbar-settings.ripple{
  	background-position: center;
}
#pillbar-settings.ripple:hover{
  	background: #fff radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
}
#pillbar-settings.ripple:active{
 	background-color: #bfbfbf;
 	background-size: 100%;
  	transition: background 0s;
}

/*For the collapse button*/
#sidebarCollapse span {
    width: 75%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #7f7f7f;
    transition: all 0.4s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 8px auto;
    transition: all 0.5s, transform 0.5s;
}