.pill-bar{
    z-index: 1;
    box-shadow: 0 0 2px rgba(0,0,0,0.16);
	background: white;
	height: 70px;
	position: sticky;
	top: 0;
	margin: 0 auto;
	text-align: center;
    transition:  border-radius 0.2s ease-out, box-shadow 0.3s, width 0.5s, height 0.3s, line-height 0.3s, transform 0.3s;
    max-width: 800px;
    line-height: 70px;
}

.img-pill-bar{
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	line-height: inherit;
}

.sidebar-toggle{
	position: absolute;
	left: 15px;
	top: 15px;
	border: none;
	width: 55px;
	height: 60%;
	background: inherit;
	cursor: pointer;
}

.sidebar-toggle:focus{
	outline: 0;
}

.sidebar-logo{
	width: 70px;
	display: inline-block;
}

#pillbar-settings{
    padding-left: 33px;
    padding-right: 41px;
    margin-right: -15px;
    margin-top: 1px;
    border: none;
    background: inherit;
    height: 92%;
    font-size: 25px;
    width: 55px;
    position: absolute;
    right: 15px;
    color: #898989;
    border-radius: 100%;
    cursor: pointer;
    transition: font-size 0.5s, background 0.3s;
}

/*Ripple effect*/
#pillbar-settings:focus{
    outline: 0;
}
#pillbar-settings.ripple{
  	background-position: center;
}
#pillbar-settings.ripple:hover{
  	background: #fff radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
}
#pillbar-settings.ripple:active{
 	background-color: #dfdfdf;
 	background-size: 100%;
  	transition: background 0s;
}

/*For the collapse button*/
#sidebarCollapse span {
    width: 75%;
    height: 4px;
    border-radius: 30px;
    margin: 0 auto;
    display: block;
    background: #8f8f8f;
    transition: all 0.4s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(4px, 4px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(2px, -2px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 7px auto;
    transition: all 0.5s, transform 0.5s;
}

.dropdown-toggle::after{
    display: none;
}

.show > .dropdown-menu {
    max-height: 300px;
    max-width: 400px;
    margin-left: -20px;
    margin-top: -1px;
    opacity: 1;
  }
  
  .dropdown-menu {
    right: 0 !important;
    left: 0 !important;
    top: 0 !important;
    bottom: auto !important;
    width: 80%;
    margin-left: -10px;
    margin-top: -15px;
    display: block;
    max-height: 0;
    max-width: 400px;
    min-width: 300px;
    transition: max-height 0.5s ease, opacity 0.3s ease, margin-left 0.3s ease, margin-top 0.3s ease !important;
    opacity: 0;
    overflow: hidden;
    border-radius: 25px;
     box-shadow: 0 0 3px rgba(0,0,0,0.22), 0 1px 2px rgba(0,0,0,0.22);
    border: none;
  }

#dropdown-menu-container{
    text-align: center;
    line-height: 70px;
}

 h3{
     margin-top: 10px;
    color: #555;
 }

 h3:after{
     content: '';
     height: 4px;
     border-radius: 50px;
     background: linear-gradient(to left, #ff9822, #f54f52);
     width: 80%;
     max-width: 260px;
     display: block;
     margin-top: 5px;
     margin-left: auto;
     margin-right: auto;
 }

 #sidebarCollapse{
     border-radius: 50px;
     background-position: center;
     transition: all 0.4s;
 }
 #sidebarCollapse:hover{
    background: #fff radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
 }

 #sidebarCollapse:active{
    background-color: #dfdfdf;
 	background-size: 100%;
  	transition: background 0s;
}