.sidebar-nav{
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
}

.sidebar-nav li{
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li div{
  display: block;
  text-decoration: none;
  color: #6f6f6f;
  height: 18vh;
  line-height: 6.5em;
  transition: color 0.3s ease;
}

.toggle-engaged{
  color: #f54f52 !important;
}

.sidebar-nav li div.first-sidebar{
  height: 25vh;
}

.sidebar-nav li div.last-sidebar{
  height: 21vh;
  position: relative;
}

.sidebar-nav li div:hover{
  text-decoration: none;
  color: #ff5722;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li div:active, .sidebar-nav li div:focus{
  text-decoration: none;
}

.sidebar-nav li div img{
  width: 25%;
  margin-left: -10px;
  transition: all 0.3s ease;
  filter: grayscale(100%);
}

.sidebar-nav li div:hover img{
  filter: grayscale(0%);
}

.sidebar-nav li div i{
  width: 20%;
  margin-left: -5px;
}

.sidebar-nav li div i:before{
  transition: font-size 0.3s ease;
}

.sidebar-nav li div i.sb1:before{
  margin-left: -21px;
}

.sidebar-nav li div i.sb2:before{
  margin-left: -15px;
}

.sidebar-nav li div i.sb3:before{
  margin-left: -20px;
}

.sidebar-nav li div.last-sidebar i:before{
  position: absolute;
  bottom: 25px;
  width: 50px;
  height: 50px;
  margin-left: -38px;
}

.sidebar-nav li div span{
  font-size: 20pt;
  padding-left: 25px;
}

.sidebar-nav li div.first-sidebar span{
  padding-left: 17px;
}

.sidebar-nav li div.last-sidebar span{
  position: absolute;
  bottom: 52px;
  left: 70px;
  padding-left: 0;
  height: 50px;
}